/* ===GLOBAL=== */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#deck {
    display:flex;
    width: 80%;
    flex-wrap: wrap;
}

/* ===COUNTDOWN=== */
#countdown-container {
    display: flex;
    width: 80%;
    margin: 24px auto;
    height: 24px;
    background-color: grey;
    border-radius: 5px;
}

#countdown-container  > #countdown {
    height: 100%;
    width: 100%;
    background-color: red;
    border-radius: 5px;
    text-align: right;
    line-height: 24px; /* Same as container height */
    padding-right: 10px;
}

/* ===CARDS=== */
.cards {
    height: 100px;
    width: 100px;
    border: solid;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
    background-color: gray;
}

.show.match {
    border-color: green;
}

.show.apple {
    background-image: url(static/apple.png);
}

.show.apricot {
    background-image: url(static/apricot.png);
}

.show.banana {
    background-image: url(static/banana.png);
}

.show.cherry {
    background-image: url(static/cherry.png);
}

.show.grape {
    background-image: url(static/grape.png);
}

.show.lemon {
    background-image: url(static/lemon.png);
}

.show.lime {
    background-image: url(static/lime.png);
}

.show.orange {
    background-image: url(static/orange.png);
}

.show.peach {
    background-image: url(static/peach.png);
}

.show.plum {
    background-image: url(static/plum.png);
}

.show.pomegranate {
    background-image: url(static/pomegranate.png);
}

.show.raspberry {
    background-image: url(static/raspberry.png);
}

.show.strawberry {
    background-image: url(static/strawberry.png);
}

.show.watermelon {
    background-image: url(static/watermelon.png);
}

